<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <!-- insert favicons. use https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=1">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=1" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=1">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- service Worker Logic -->
    <script type="text/javascript" src="/sw.js"></script>

    <title>Awesome Bitcoin Cash 🟢🚀</title>
    <meta name="generator" content="Jekyll v3.9.3" />
    <meta property="og:title" content="Awesome Bitcoin Cash" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Actively maintained list of active projects and resources for the Bitcoin Cash (BCH) p2p cryptocurrency, and native CashTokens." />
    <meta property="og:description" content="Actively maintained list of projects, apps and wallets using Bitcoin Cash and native CashTokens, as well as an up-to-date list of resources, libraries and documentation for developers for on Bitcoin Cash (BCH)―a p2p cryptocurrency." />
    <link rel="canonical" href="https://awesomebitcoin.cash/" />
    <meta property="og:url" content="https://awesomebitcoin.cash/" />
    <meta property="og:image" content="https://awesomebitcoin.cash/assets/awesome-bitcoin-cash.banner.png" />
    <meta property="og:site_name" content="Awesome Bitcoin Cash" />
    <meta property="og:type" content="article" />
    <meta property="article:tag" content="BitcoinCash" />
    <meta property="article:tag" content="Bitcoin Cash" />
    <meta property="article:tag" content="BCH" />
    <meta property="article:tag" content="Awesome Bitcoin Cash" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:description" content="Actively maintained list of active projects and resources for the Bitcoin Cash (BCH) p2p cryptocurrency, and native CashTokens." />
    <meta property="twitter:image" content="https://awesomebitcoin.cash/assets/awesome-bitcoin-cash.banner.png" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Awesome Bitcoin Cash" />
    <script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebSite","description":"Bitcoin Cash projects &amp; resources","headline":"awesome-bitcoin-cash","name":"awesome-bitcoin-cash","url":"http://awesomebitcoin.cash/"}</script>

</head>

<body>

    <header>
        <div class="container">
            <a id="a-title" href="{{ '/' | relative_url }}">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>

            <section id="downloads">
                {% if site.show_downloads %}
                <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
                <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
                {% endif %}
                <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on
                    GitHub</a>
            </section>
        </div>
    </header>

    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>
</body>

</html>